.RoleButton{
    -fx-max-width: infinity;
    -fx-alignment: center;
    -fx-background-color: #ABA27E;
    -fx-effect: innershadow(three-pass-box,#000000,10,0,0,0);
    -fx-font-family: "Tahoma";
    -fx-font-size: 16;
    -fx-padding: 10;
}
.RoleButton:hover {
    -fx-opacity: 75%;
}
.RoleButton:disabled {
    -fx-opacity: 50%;
}
.activeButton:disabled {
    -fx-background-color: #FFD42A;
    -fx-text-fill: #000000;
    -fx-opacity: 100%;
}